* {
    box-sizing: border-box;
}

:root {
    color-scheme: only light;
    --index: calc(1vw + 1vh);
}

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik.woff2);
}

button {
    border: none;
}

img {
    object-fit: cover;
}

#photo_gallery {
    background: linear-gradient(150deg, #e6d3f9 0%, #e6d3f9 50%, #cea0f1 50%, #cea0f1 100%);
    padding: calc(var(--index) * 4) calc(var(--index) * 3) calc(var(--index) * 3) calc(var(--index) * 3);
}

.section_header {
    font-family: 'Rubik';
    width: 100%;
    text-align: center;
    color: #744af1;
    font-weight: 550;
    font-size: calc(var(--index) * 2.5);
    margin-bottom: calc(var(--index) * 1);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.double_photo {
    flex-direction: column;
    width: auto;
}

.photo {
    border-radius: calc(var(--index) * 0.8);
    border: 4px solid white;
    margin: 3px;
    width: calc(var(--index) * 13);
    height: calc(var(--index) * 13);
    transition:transform 0.3s ease-out;
}

.one_photo {
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 26.2);
}

.photo:hover {
    cursor: pointer;
    transform:scale(1.2);
    z-index:10;
}

.one_photo:hover {
    cursor: pointer;
    transform:scale(1.1);
    z-index:10;
}

.horizontal {
    height: calc(var(--index) * 20);
    width: calc(var(--index) * 46.6);
}

.horizontal:hover {
    cursor: pointer;
    transform:scale(1.1);
    z-index:10;
}

@media only screen and (max-width: 640px) {

    #photo_gallery {
        padding: calc(var(--index) * 5) calc(var(--index) * 0.6) calc(var(--index) * 3) calc(var(--index) * 0.6);
    }

    .section_header {
        font-size: calc(var(--index) * 3);
        margin-bottom: calc(var(--index) * 1.3);
    }

    .photo {
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 15);
    }

    .one_photo {
        width: calc(var(--index) * 15);
        height: calc(var(--index) * 30.3);
    }

    #last_photo {
        flex-direction: row;
    }

    .horizontal {
        height: calc(var(--index) * 15);
        width: calc(var(--index) * 30.3);
    }
}